/.emacs-buffers
/session.10a19687a27d672ece149291313730003000000033330033
/*.desktop
/#recentf#
/.emacs.desktop.lock
/.python-environments/default/bin/activate
/.python-environments/default/bin/activate.csh
/.python-environments/default/bin/activate.fish
/ac-comphist.dat
/elpa/elpy-20170519.1544/NEWS.rst
/session.10b7b933c7254e10d148708311792596400000020130028
session*
/semanticdb/
/saves/
recentf
projectile*
/irony/
/.python-environments/
/auto-save-list/
/desktops/
/elpa/
/eshell/
/elpy/
places
/pylsms/
.lsp-session-v1
